<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <!-- Main CSS File -->
  <link href="../static/css/main1.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="../static/img/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="../static/img/logo.png" alt=""> -->
      <h1 class="sitename">Bloodgroup Prediction</h1>
    </a>

    

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/home" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> Methodology</a></li>
  
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Dataset</a></li>

        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="../static/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <center><h2>Bloodgroup Prediction using Fingerprint</h2> <center>
        <p>It's <span class="typed" data-typed-items="Efficient, Accurate, Non-Invasive, Quick">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

    <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <center><h2>Methodology</h2><center>
        <p>Blood group detection using fingerprints through deep learning is an innovative approach that leverages advancements in image processing and machine learning to predict an individual's blood group based on their fingerprint patterns. Traditional methods of blood group detection involve blood sample analysis, which can be invasive, time-consuming, and require specialized equipment. This novel methodology aims to provide a non-invasive, rapid, and accessible alternative by analyzing the unique features of fingerprints.</p>
      </div><!-- End Section Title -->




      <div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="row gy-4 justify-content-center">
    <div class="col-lg-4">
      <img src="../static/img/my-profile-img.jpg" class="img-fluid rounded-circle shadow-lg" alt="Profile Image">
    </div>
    <div class="col-lg-8 content">
      <h2 class="mb-4 text-center">Steps Involved in Development</h2>
      <p class="fst-italic py-3 text-center">
        The following steps were involved in the development of this project.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <div class="step-card p-3 mb-4 shadow-sm border rounded">
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Dataset:</strong> <span>Fingerprint</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Data Preprocessing:</strong> <span>Normalization with OpenCV</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Training Model:</strong> <span>CNN</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Testing Model:</strong> <span>CNN</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="step-card p-3 mb-4 shadow-sm border rounded">
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Optimizer:</strong> <span>Adam Optimizer</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>FrontEnd:</strong> <span>Flask with Python</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Backend:</strong> <span>SQL Server</span></li>
<!--              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Accuracy:</strong> <span>98%</span></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Stats Section -->
<section id="stats" class="stats section py-5 bg-gradient-primary">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">

<!--      &lt;!&ndash; Accuracy Stat &ndash;&gt;-->
<!--      <div class="col-lg-3 col-md-6">-->
<!--        <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">-->
<!--          <i class="bi bi-bar-chart-steps fs-3 text-primary mb-3"></i>-->
<!--          <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-primary"></span>-->
<!--          <p class="mt-2 text-dark"><strong>Accuracy</strong></p>-->
<!--          <div class="stat-hover-effect"></div>-->
<!--        </div>-->
<!--      </div>&lt;!&ndash; End Stats Item &ndash;&gt;-->

      <!-- Dataset Size Stat -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">
          <i class="bi bi-database-check fs-3 text-success mb-3"></i>
          <span data-purecounter-start="0" data-purecounter-end="6000" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-success"></span>
          <p class="mt-2 text-dark"><strong>Dataset Size</strong></p>
          <div class="stat-hover-effect"></div>
        </div>
      </div><!-- End Stats Item -->

      <!-- Epochs Stat -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">
          <i class="bi bi-sliders fs-3 text-warning mb-3"></i>
          <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-warning"></span>
          <p class="mt-2 text-dark"><strong>Epochs</strong></p>
          <div class="stat-hover-effect"></div>
        </div>
      </div><!-- End Stats Item -->

      <!-- Training Loss Stat -->
      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">
          <i class="bi bi-box-arrow-in-down fs-3 text-danger mb-3"></i>
          <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-danger"></span>
          <p class="mt-2 text-dark"><strong>Training Loss</strong></p>
          <div class="stat-hover-effect"></div>
        </div>
      </div><!-- End Stats Item -->

    </div>
  </div>
</section><!-- /Stats Section -->

<!-- Skills Section -->
<section id="skills" class="skills section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2 class="text-center">Technologies</h2>
    <p class="text-center">Technologies Used in the Project shown Below</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row skills-content skills-animation">

      <div class="col-lg-6">

        <!-- Skill: Python -->
        <div class="progress">
          <span class="skill"><i class="fab fa-python"></i> Python <i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <!-- Skill: HTML -->
        <div class="progress">
          <span class="skill"><i class="fab fa-html5"></i> CSS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <!-- Skill: JavaScript -->
        <div class="progress">
          <span class="skill"><i class="fab fa-js"></i> JavaScript <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div><!-- End Column -->

      <div class="col-lg-6">

        <!-- Skill: C -->
        <div class="progress">
          <span class="skill"><i class="fas fa-code"></i> HTML <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <!-- Skill: Flask -->
        <div class="progress">
          <span class="skill"><i class="fab fa-python"></i> Flask <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <!-- Skill: Photoshop -->
        <div class="progress">
          <span class="skill"><i class="fab fa-photoshop"></i> Photoshop <i class="val">55%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div><!-- End Column -->

    </div><!-- End Row -->

  </div><!-- End Container -->

</section><!-- /Skills Section -->

<section id="portfolio" class="portfolio section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <center><h2>Dataset</h2></center>
        <p>Sample images for each blood group type.</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-a-positive">A +VE</li>
                <li data-filter=".filter-b-positive">B +VE</li>
                <li data-filter=".filter-ab-positive">AB +VE</li>
                <li data-filter=".filter-a-negative">A -VE</li>
                <li data-filter=".filter-b-negative">B -VE</li>
                <li data-filter=".filter-ab-negative">AB -VE</li>
                <li data-filter=".filter-o-positive">O +VE</li>
                <li data-filter=".filter-o-negative">O -VE</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <!-- Portfolio Items for A +VE -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/a+1.bmp" class="img-fluid" alt="A +VE Blood Group Sample 1">
                        <div class="portfolio-info">
                            <h4>A +VE</h4>
                            <a href="portfolio_details?bloodGroup=A%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/a+2.bmp" class="img-fluid" alt="A +VE Blood Group Sample 2">
                        <div class="portfolio-info">
                            <h4>A +VE</h4>
                            <a href="portfolio_details?bloodGroup=A%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/a+3.bmp" class="img-fluid" alt="A +VE Blood Group Sample 3">
                        <div class="portfolio-info">
                            <h4>A +VE</h4>
                            <a href="portfolio_details?bloodGroup=A%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Items for B +VE -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/b+1.bmp" class="img-fluid" alt="B +VE Blood Group Sample 1">
                        <div class="portfolio-info">
                            <h4>B +VE</h4>
                            <a href="portfolio_details?bloodGroup=B%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/b+2.bmp" class="img-fluid" alt="B +VE Blood Group Sample 2">
                        <div class="portfolio-info">
                            <h4>B +VE</h4>
                            <a href="portfolio_details?bloodGroup=B%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/b+3.bmp" class="img-fluid" alt="B +VE Blood Group Sample 3">
                        <div class="portfolio-info">
                            <h4>B +VE</h4>
                            <a href="portfolio_details?bloodGroup=B%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Items for AB +VE -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/ab+1.bmp" class="img-fluid" alt="AB +VE Blood Group Sample 1">
                        <div class="portfolio-info">
                            <h4>AB +VE</h4>
                            <a href="portfolio_details?bloodGroup=AB%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/ab+2.bmp" class="img-fluid" alt="AB +VE Blood Group Sample 2">
                        <div class="portfolio-info">
                            <h4>AB +VE</h4>
                            <a href="portfolio_details?bloodGroup=AB%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-positive">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/ab+3.bmp" class="img-fluid" alt="AB +VE Blood Group Sample 3">
                        <div class="portfolio-info">
                            <h4>AB +VE</h4>
                            <a href="portfolio_details?bloodGroup=AB%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Items for A -VE -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/a-1.bmp" class="img-fluid" alt="A -VE Blood Group Sample 1">
                        <div class="portfolio-info">
                            <h4>A -VE</h4>
                            <a href="portfolio_details?bloodGroup=A%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/a-2.bmp" class="img-fluid" alt="A -VE Blood Group Sample 2">
                        <div class="portfolio-info">
                            <h4>A -VE</h4>
                            <a href="portfolio_details?bloodGroup=A%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/a-3.bmp" class="img-fluid" alt="A -VE Blood Group Sample 3">
                        <div class="portfolio-info">
                            <h4>A -VE</h4>
                            <a href="portfolio_details?bloodGroup=A%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Items for B -VE -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/b-1.bmp" class="img-fluid" alt="B -VE Blood Group Sample 1">
                        <div class="portfolio-info">
                            <h4>B -VE</h4>
                            <a href="portfolio_details?bloodGroup=B%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/b-2.bmp" class="img-fluid" alt="B -VE Blood Group Sample 2">
                        <div class="portfolio-info">
                            <h4>B -VE</h4>
                            <a href="portfolio_details?bloodGroup=B%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/b-3.bmp" class="img-fluid" alt="B -VE Blood Group Sample 3">
                        <div class="portfolio-info">
                            <h4>B -VE</h4>
                            <a href="portfolio_details?bloodGroup=B%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Items for AB -VE -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/ab-1.bmp" class="img-fluid" alt="AB -VE Blood Group Sample 1">
                        <div class="portfolio-info">
                            <h4>AB -VE</h4>
                            <a href="portfolio_details?bloodGroup=AB%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/ab-2.bmp" class="img-fluid" alt="AB -VE Blood Group Sample 2">
                        <div class="portfolio-info">
                            <h4>AB -VE</h4>
                            <a href="portfolio_details?bloodGroup=AB%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-negative">
                    <div class="portfolio-content h-100">
                        <img src="../static/img/portfolio/ab-3.bmp" class="img-fluid" alt="AB -VE Blood Group Sample 3">
                        <div class="portfolio-info">
                            <h4>AB -VE</h4>
                            <a href="portfolio_details?bloodGroup=AB%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Items for O +VE -->
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-positive">
    <div class="portfolio-content h-100">
        <img src="../static/img/portfolio/o+1.bmp" class="img-fluid" alt="O +VE Blood Group Sample 1">
        <div class="portfolio-info">
            <h4>O +VE</h4>
            <a href="portfolio_details?bloodGroup=O%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-positive">
    <div class="portfolio-content h-100">
        <img src="../static/img/portfolio/o+2.bmp" class="img-fluid" alt="O +VE Blood Group Sample 2">
        <div class="portfolio-info">
            <h4>O +VE</h4>
            <a href="portfolio_details?bloodGroup=O%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-positive">
    <div class="portfolio-content h-100">
        <img src="../static/img/portfolio/o+3.bmp" class="img-fluid" alt="O +VE Blood Group Sample 3">
        <div class="portfolio-info">
            <h4>O +VE</h4>
            <a href="portfolio_details?bloodGroup=O%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
        </div>
    </div>
</div>

<!-- Portfolio Items for O -VE -->
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-negative">
    <div class="portfolio-content h-100">
        <img src="../static/img/portfolio/o-1.bmp" class="img-fluid" alt="O -VE Blood Group Sample 1">
        <div class="portfolio-info">
            <h4>O -VE</h4>
            <a href="portfolio_details?bloodGroup=O%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-negative">
    <div class="portfolio-content h-100">
        <img src="../static/img/portfolio/o-2.bmp" class="img-fluid" alt="O -VE Blood Group Sample 2">
        <div class="portfolio-info">
            <h4>O -VE</h4>
            <a href="portfolio_details?bloodGroup=O%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-negative">
    <div class="portfolio-content h-100">
        <img src="../static/img/portfolio/o-3.bmp" class="img-fluid" alt="O -VE Blood Group Sample 3">
        <div class="portfolio-info">
            <h4>O -VE</h4>
            <a href="portfolio_details?bloodGroup=O%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
        </div>
    </div>
</div>


            </div><!-- End Portfolio Items -->

        </div>
    </div>
</section><!-- End Portfolio Section -->


<!-- Contact Section -->
<section id="contact" class="contact section" style="padding: 60px 0; background-color: #f9f9f9;">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <center>
      <h2 style="font-size: 36px; font-weight: 600; color: #333;">Contact Us</h2>
    </center>
    <p style="text-align: center; font-size: 18px; color: #666;">We'd love to hear from you! Contact us for further details.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">

      <!-- Contact Information Section -->
      <div class="col-lg-6">
        <div class="info-wrap" style="background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          
          <!-- Address Info -->
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200" style="margin-bottom: 20px;">
            <i class="bi bi-geo-alt flex-shrink-0" style="font-size: 24px; color: #ff8c00; margin-right: 20px;"></i>
            <div>
              <h3 style="font-size: 20px; font-weight: 600; color: #333;">Our Address</h3>
              <p style="color: #666; font-size: 16px;">East West College Anjana Nagar, Bengaluru, Karnataka 560091, India</p>
            </div>
          </div><!-- End Address Info -->

          <!-- Call Us Info -->
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300" style="margin-bottom: 20px;">
            <i class="bi bi-telephone flex-shrink-0" style="font-size: 24px; color: #ff8c00; margin-right: 20px;"></i>
            <div>
              <h3 style="font-size: 20px; font-weight: 600; color: #333;">Call Us</h3>
              <p style="color: #666; font-size: 16px;">+91 7483119609</p>
            </div>
          </div><!-- End Call Us Info -->

          <!-- Email Info -->
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0" style="font-size: 24px; color: #ff8c00; margin-right: 20px;"></i>
            <div>
              <h3 style="font-size: 20px; font-weight: 600; color: #333;">Email Us</h3>
              <p style="color: #666; font-size: 16px;">karthikgr1908@gmail.com</p>
            </div>
          </div><!-- End Email Info -->

        </div>
      </div><!-- End Contact Info Section -->

      <!-- Google Map Section -->
<div class="col-lg-6">
  <div class="map-wrap" style="background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h4 style="font-size: 22px; font-weight: 600; color: #333; margin-bottom: 20px;">Our Location</h4>
    <!-- Embed Google Map -->
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.914407203098!2d77.48062697484148!3d12.977326137338558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3c11bfde652f%3A0x8d45f6ae56537fc6!2sEAST%20WEST%20INSTITUTE%20OF%20TECHNOLOGY%2C%20Off%2C%20Magadi%20Main%20Rd%2C%20Vishwaneedam%20Post%2C%20Bharath%20Nagar%2C%20Anjana%20Nagar%2C%20Bedarahalli%2C%20Bengaluru%2C%20Karnataka%20560091!5e0!3m2!1sen!2sin!4v1731385199600!5m2!1sen!2sin" 
      width="100%" 
      height="400" 
      style="border: 0; border-radius: 8px;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div><!-- End Map Section -->


</section><!-- End Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Students From EWIT</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">
       
        Designed by Students From EWIT</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main1.js"></script>
  <!-- Include EmailJS SDK -->

<script type="text/javascript">
  // Your updated EmailJS code
  $("#contact-form").submit(function (event) {
      event.preventDefault();

      // Initialize emailjs with your EmailJS user ID
      emailjs.init("Ys-JDx_diIdvjLBfb");  // Replace with your actual EmailJS user ID
      console.log("form submitted");

      // Send form data using EmailJS
      emailjs.sendForm('service_zi75ksj', 'template_6um0p7i', '#contact-form')
          .then(function (response) {
              console.log('SUCCESS!', response.status, response.text);
              // Reset the form fields after successful submission
              document.getElementById("contact-form").reset();
              // Display success message
              alert("Your message has been successfully sent. Thank you for reaching out. I'll respond to you shortly.");
          }, function (error) {
              console.log('FAILED...', error);
              // Display failure message
              alert("Oops! Something went wrong while submitting the form. Please try again later.");
          });
  });
</script>
</body>

</html>
